root = true

[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true

# Dead code: unused private members (enforced as errors when
# EnforceCodeStyleInBuild=true is set at build time).
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.IDE0052.severity = error

[*.{csproj,props,targets}]
indent_style = space
indent_size = 2
